<br>
<br>
<br>
<br>

<div class="container">
<a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a>
</div>
Armadale<br>
Bayswater	<br>
Belmont<br>
Cambridge<br>
Canning	<br>
Claremont	<br>
Cockburn	<br>
Cottesloe	<br>
East Fremantle<br>	
Fremantle	<br>
Gosnells	<br>
Joondalup	<br>
Kalamunda	<br>
Kwinana	<br>
Melville	<br>
Mosman Park	<br>
Mundaring	<br>
Nedlands	<br>
Peppermint Grove <br>	
Perth	<br>
Rockingham	<br>
Serpentine-Jarrahdale	<br>
South Perth	<br>
Stirling	<br>
Subiaco	<br>
Swan	<br>
Victoria Park <br>	
Vincent	<br>
Wanneroo <br>

